@import "tailwindcss";

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProRg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProBoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProSemiBd.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProSemiBdIt.ttf") format("truetype");
  font-weight: semibold;
  font-style: italic;
}


:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-serif: "Plantin", serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
