@import "tailwindcss";

/* Custom fonts */
@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProRg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProBoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProSemiBd.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProSemiBdIt.ttf") format("truetype");
  font-weight: semibold;
  font-style: italic;
}


@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}


@font-face {
  font-family: "Lilex";
  src: url("/fonts/lilex/Lilex[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Lilex";
  src: url("/fonts/lilex/Lilex-Italic[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Switzer", sans-serif;
  --font-serif: "Plantin", serif;
  --font-mono: "Lilex", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Switzer", sans-serif;
}
