@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap");
@import "tailwindcss";


/* Custom fonts */
@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProRg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProIt.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProBoldIt.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProSmBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProSemiBdIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProLightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: "Lilex";
  src: url("/fonts/lilex/Lilex[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Lilex";
  src: url("/fonts/lilex/Lilex-Italic[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Fira Sans", sans-serif;
  --font-serif: "Plantin", serif;
  --font-mono: "Lilex", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fira Sans", sans-serif;
}
