@import "tailwindcss";

/* Custom fonts */
@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProRg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProBoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProSemiBd.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: "Plantin";
  src: url("/fonts/plantin/PlantinMTProSemiBdIt.ttf") format("truetype");
  font-weight: semibold;
  font-style: italic;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-BoldIta.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-Light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-LightIta.otf") format("opentype");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-Thin.otf") format("opentype");
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-Thin-Italic.otf") format("opentype");
  font-weight: thin;
  font-style: italic;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-Heavy.otf") format("opentype");
  font-weight: heavy;
  font-style: normal;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-Heavy-Italic.otf") format("opentype");
  font-weight: heavy;
  font-style: italic;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-Medium.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-RegularIta.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Theinhardt";
  src: url("/fonts/theinhardt/Theinhardt-Regular.otf") format("opentype");
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Theinhardt", sans-serif;
  --font-serif: "Plantin", serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Theinhardt", sans-serif;
}
